
<h2>Compras en curso</h2>

<ul class="purchases">
	<li *ngFor="let purchase of purchases">
	<div>Precio compra <span>{{purchase.totalPrice}}</span></div>
	<ul>
	  <li *ngFor="let order of purchase.orders">
		<div>Precio sandwich <span>{{order.orderPrice}}</span></div>
		<div>Nombre <span>{{order.name}}</span></div>
		<ul>
			<li *ngFor="let item of order.items">
			<div>ingrediente <span class="badge">{{item.ingredient}}</span></div>
			<div>precio <span class="badge">{{item.itemPrice}}</span></div>
			<div>cantidad <span class="badge">{{item.amount}}</span></div>
			<div>total <span class="badge">{{item.amount * item.itemPrice}}</span></div>
			</li>
		</ul>
		<!--<div><button (click)="deleteOrder(order)">Eliminar</button></div> -->
	  </li>
	 </ul>
	 <div><button (click)="addPurchase(purchase)">Finalizar</button></div>
	</li>
</ul>


