<!-- <div *ngIf="ingredientsLoaded | async">
	<form [formGroup]="form" (ngSubmit)="submit()">
	  <label formArrayName="ingredients" *ngFor="let ingredient of form.controls.ingredients.controls; let i = index">
		<input type="checkbox" [formControlName]="i">
		{{ingredients[i].name}}
	  </label>
	  <div *ngIf="!form.valid">At least one order must be selected</div>
	  <button [disabled]="!form.valid">submit</button>
	</form> 
</div>
-->
<div *ngIf='receivingOrder != null'>
<font size="6">
	<div style="position: fixed;top:0; right:0;"> 
		Precio <span>{{orderPrice}}</span>
		<div>
		<button (click)="updateReceivingOrder(tabletId.value)" 
		style="height:40px;width:200px"><font size="6">Confirmar</font></button>
		</div>
	</div>
</font>
</div>

<select name="selectLabel" [(ngModel)]="selected" style="font-size:20px;height:40px;width:200px">>
    <option *ngFor="let label of labels" [ngValue]="label" style="font-size:20px;">
       {{ label }} 
    </option>
</select> 

<div>
<p>
  <label> Tablet:
	<input type='number' #tabletId size="1">
  </label>
  </p>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="getReceivingOrder(tabletId.value)">
    Obtener compra en curso
  </button>
</div> 

<h2>Ingredientes</h2>
<ul class="ingredients">
  <div *ngFor="let ingredient of ingredients">
	<div *ngIf="ingredient[0].label == selected || selected=='Todo'" >
	<li>
		<font size="4">
		<!--<span class="badge">{{ingredient[0].name}} </span> 
		<span class="badge">{{ingredient[0].price}}</span> 
		<span class="right">
		<button (click)="addItem(ingredient)" style="height:50px;width:50px;">+</button>
		<button (click)="substractItem(ingredient)" style="height:50px;width:50px;">-</button>
		</span>
		<span class="badge">{{ingredient[1]}}</span> 
		-->
		<span class="left">{{ingredient[0].name}}</span>
		<span class="left2">{{ingredient[0].price}} </span> 
		<span class="right"><button (click)="addItem(ingredient)" style="height:50px;width:50px;">+</button></span>
		<span class="right"><button (click)="substractItem(ingredient)" style="height:50px;width:50px;">-</button></span>
		<span class="left">{{ingredient[1]}}</span> 
		</font>
	</li>
	</div>
  </div>
  
</ul>

<!-- <div><button (click)="addItemToReceivingOrder()">Agregar</button></div> -->


<ul class="receivingOrder">
<div *ngIf='receivingOrder != null'>
    <div>RFID <span class="badge">{{receivingOrder.cardId}}</span></div>
	<div> Precio <span>{{orderPrice}}</span></div>
	<ul>
		<li *ngFor="let item of receivingOrder.items">
		<div>ingrediente <span class="badge">{{item.ingredient}}</span></div>
		<div>precio <span class="badge">{{item.itemPrice}}</span></div>
		<div>cantidad <span class="badge">{{item.amount}}</span></div>
		<div>total <span class="badge">{{item.amount * item.itemPrice}}</span></div>
		</li>
	</ul>
	<ul>
		<li *ngFor="let item of newItems">
		<div>ingrediente <span class="badge">{{item.ingredient}}</span></div>
		<div>precio <span class="badge">{{item.itemPrice}}</span></div>
		<div>cantidad <span class="badge">{{item.amount}}</span></div>
		<div>total <span class="badge">{{item.amount * item.itemPrice}}</span></div>
		<div><button (click)="removeItemFromReceivingOrder(item)">Eliminar</button></div>
		</li>
	</ul>
</div>
</ul>


{{message}}